<!DOCTYPE HTML>
<!--
    Aesthetic by gettemplates.co
    Twitter: http://twitter.com/gettemplateco
    URL: http://gettemplates.co
-->
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>UM TAGUM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Website Template by GetTemplates.co" />
    <meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
    <meta name="author" content="GetTemplates.co" />
    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="~/Content/savory/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="~/Content/savory/css/icomoon.css">
    <!-- Themify Icons-->
    <link rel="stylesheet" href="~/Content/savory/css/themify-icons.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="~/Content/savory/css/bootstrap.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/Content/savory/css/magnific-popup.css">
    <!-- Bootstrap DateTimePicker -->
    <link rel="stylesheet" href="~/Content/savory/css/bootstrap-datetimepicker.min.css">

    <!-- Owl Carousel  -->
    <link rel="stylesheet" href="~/Content/savory/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/savory/css/owl.theme.default.min.css">
    <!-- Theme style  -->
    <link rel="stylesheet" href="~/Content/savory/css/style.css">
    <!-- Modernizr JS -->
    <script src="~/Content/savory/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <div class="gtco-loader"></div>

    <div id="page">

        <!-- <div class="page-inner"> -->
        <nav class="gtco-nav" role="navigation">
            <div class="gtco-container">

                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <div id="gtco-logo"><a href="index.html">UM TAGUM <em>.</em></a></div>
                    </div>
                    <div class="col-xs-8 text-right menu-1">
                        <ul>
                            <li><a href="../">Home</a></li>
                            <li class="has-dropdown">
                                <a href="../Home/Curriculum">Curriculum</a>
                            </li>
                            <li><a href="../Student/Students">Student</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </nav>

        <header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url('../../Content/img/2.jpg');" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="gtco-container">
                <div class="row" style="margin-top: -70px;">
                    <div class="col-md-12 col-md-offset-0 text-center">

                        <div class="row row-mt-15em">
                            <div class="col-md-12 mt-text animate-box" data-animate-effect="fadeInUp">
                                <span class="intro-text-small">Hand-crafted by <a href="http://gettemplates.co" target="_blank">GetTemplates.co</a></span>
                                <h1 class="cursive-font">University of Mindanao IT Department</h1>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </header>


        <div id="gtco-features" style="background-color: #3A433A;">
            <div class="gtco-container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
                        <h2 class="cursive-font">Curriculum</h2>
                        <p>1st year first semester</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="feature-center animate-box" data-animate-effect="fadeIn">
                            <span class="icon">
                                <i class="ti-agenda"></i>
                            </span>
                            <h3>
                                NSTP 2
                            </h3>
                            <p>3.0 NATIONAL SERVICE TRAINING PROGRAM 2</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="feature-center animate-box" data-animate-effect="fadeIn">
                            <span class="icon">
                                <i class="ti-agenda"></i>
                            </span>
                            <h3>
                                MATH 112
                            </h3>
                            <p>3.0 COLLEGE ALGEBRA</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="feature-center animate-box" data-animate-effect="fadeIn">
                            <span class="icon">
                                <i class="ti-agenda"></i>
                            </span>
                            <h3>
                                IT 133/L
                            </h3>
                            <p>3.0 BASIC ECLECTRONICS & DIGITAL DESIGN<</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="feature-center animate-box" data-animate-effect="fadeIn">
                            <span class="icon">
                                <i class="ti-agenda"></i>
                            </span>
                            <h3>
                                FIL 1A
                            </h3>
                            <p>3.0 SINING NG PAGKAKAISA</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="feature-center animate-box" data-animate-effect="fadeIn">
                            <span class="icon">
                                <i class="ti-agenda"></i>
                            </span>
                            <h3>
                                ENG 102
                            </h3>
                            <p>6.0 INTERACTIVE LEARNING</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="feature-center animate-box" data-animate-effect="fadeIn">
                            <span class="icon">
                                <i class="ti-agenda"></i>
                            </span>
                            <h3>
                                >MATH 133
                            </h3>
                            <p>3.0 TRIGONOMETRY WITH ANALYTICAL GEOMETRY</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="feature-center animate-box" data-animate-effect="fadeIn">
                            <span class="icon">
                                <i class="ti-agenda"></i>
                            </span>
                            <h3>
                                ENG 101
                            </h3>
                            <p>6.0 Grammar</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="feature-center animate-box" data-animate-effect="fadeIn">
                            <span class="icon">
                                <i class="ti-agenda"></i>
                            </span>
                            <h3>HIST 1</h3>
                            <p>3.0 PHILIPPINE HISTORY: ROOTS & DEVELOPMENT</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="feature-center animate-box" data-animate-effect="fadeIn">
                            <span class="icon">
                                <i class="ti-agenda"></i>
                            </span>
                            <h3>MATH 501</h3>
                            <p>3.0 MATHEMATICAL OPERATIONS</p>
                        </div>
                    </div>

                </div>

            </div>

        </div>


        <div id="gtco-features" style="background-color: #3A433A; margin-top:-140px">
            <div class="gtco-container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
                        <h2 class="cursive-font">Curriculum</h2>
                        <p>2nd year first semester</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="feature-center animate-box" data-animate-effect="fadeIn">
                            <span class="icon">
                                <i class="ti-agenda"></i>
                            </span>
                            <h3>
                                NSTP 2
                            </h3>
                            <p>3.0 NATIONAL SERVICE TRAINING PROGRAM 2</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="feature-center animate-box" data-animate-effect="fadeIn">
                            <span class="icon">
                                <i class="ti-agenda"></i>
                            </span>
                            <h3>
                                MATH 112
                            </h3>
                            <p>3.0 COLLEGE ALGEBRA</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="feature-center animate-box" data-animate-effect="fadeIn">
                            <span class="icon">
                                <i class="ti-agenda"></i>
                            </span>
                            <h3>
                                IT 133/L
                            </h3>
                            <p>3.0 BASIC ECLECTRONICS & DIGITAL DESIGN<</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="feature-center animate-box" data-animate-effect="fadeIn">
                            <span class="icon">
                                <i class="ti-agenda"></i>
                            </span>
                            <h3>
                                FIL 1A
                            </h3>
                            <p>3.0 SINING NG PAGKAKAISA</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="feature-center animate-box" data-animate-effect="fadeIn">
                            <span class="icon">
                                <i class="ti-agenda"></i>
                            </span>
                            <h3>
                                ENG 102
                            </h3>
                            <p>6.0 INTERACTIVE LEARNING</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="feature-center animate-box" data-animate-effect="fadeIn">
                            <span class="icon">
                                <i class="ti-agenda"></i>
                            </span>
                            <h3>
                                >MATH 133
                            </h3>
                            <p>3.0 TRIGONOMETRY WITH ANALYTICAL GEOMETRY</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="feature-center animate-box" data-animate-effect="fadeIn">
                            <span class="icon">
                                <i class="ti-agenda"></i>
                            </span>
                            <h3>
                                ENG 101
                            </h3>
                            <p>6.0 Grammar</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="feature-center animate-box" data-animate-effect="fadeIn">
                            <span class="icon">
                                <i class="ti-agenda"></i>
                            </span>
                            <h3>HIST 1</h3>
                            <p>3.0 PHILIPPINE HISTORY: ROOTS & DEVELOPMENT</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="feature-center animate-box" data-animate-effect="fadeIn">
                            <span class="icon">
                                <i class="ti-agenda"></i>
                            </span>
                            <h3>MATH 501</h3>
                            <p>3.0 MATHEMATICAL OPERATIONS</p>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <div id="gtco-features" style="background-color: #3A433A;">
            <div class="gtco-container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
                        <h2 class="cursive-font">Curriculum</h2>
                        <p>3rd year first semester</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="feature-center animate-box" data-animate-effect="fadeIn">
                            <span class="icon">
                                <i class="ti-agenda"></i>
                            </span>
                            <h3>
                                NSTP 2
                            </h3>
                            <p>3.0 NATIONAL SERVICE TRAINING PROGRAM 2</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="feature-center animate-box" data-animate-effect="fadeIn">
                            <span class="icon">
                                <i class="ti-agenda"></i>
                            </span>
                            <h3>
                                MATH 112
                            </h3>
                            <p>3.0 COLLEGE ALGEBRA</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="feature-center animate-box" data-animate-effect="fadeIn">
                            <span class="icon">
                                <i class="ti-agenda"></i>
                            </span>
                            <h3>
                                IT 133/L
                            </h3>
                            <p>3.0 BASIC ECLECTRONICS & DIGITAL DESIGN<</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="feature-center animate-box" data-animate-effect="fadeIn">
                            <span class="icon">
                                <i class="ti-agenda"></i>
                            </span>
                            <h3>
                                FIL 1A
                            </h3>
                            <p>3.0 SINING NG PAGKAKAISA</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="feature-center animate-box" data-animate-effect="fadeIn">
                            <span class="icon">
                                <i class="ti-agenda"></i>
                            </span>
                            <h3>
                                ENG 102
                            </h3>
                            <p>6.0 INTERACTIVE LEARNING</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="feature-center animate-box" data-animate-effect="fadeIn">
                            <span class="icon">
                                <i class="ti-agenda"></i>
                            </span>
                            <h3>
                                >MATH 133
                            </h3>
                            <p>3.0 TRIGONOMETRY WITH ANALYTICAL GEOMETRY</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="feature-center animate-box" data-animate-effect="fadeIn">
                            <span class="icon">
                                <i class="ti-agenda"></i>
                            </span>
                            <h3>
                                ENG 101
                            </h3>
                            <p>6.0 Grammar</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="feature-center animate-box" data-animate-effect="fadeIn">
                            <span class="icon">
                                <i class="ti-agenda"></i>
                            </span>
                            <h3>HIST 1</h3>
                            <p>3.0 PHILIPPINE HISTORY: ROOTS & DEVELOPMENT</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="feature-center animate-box" data-animate-effect="fadeIn">
                            <span class="icon">
                                <i class="ti-agenda"></i>
                            </span>
                            <h3>MATH 501</h3>
                            <p>3.0 MATHEMATICAL OPERATIONS</p>
                        </div>
                    </div>  

                </div>

            </div>

        </div>
        <div id="gtco-features" style="background-color: #3A433A;">
            <div class="gtco-container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
                        <h2 class="cursive-font">Curriculum</h2>
                        <p>4th year first semester</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="feature-center animate-box" data-animate-effect="fadeIn">
                            <span class="icon">
                                <i class="ti-agenda"></i>
                            </span>
                            <h3>
                                NSTP 2
                            </h3>
                            <p>3.0 NATIONAL SERVICE TRAINING PROGRAM 2</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="feature-center animate-box" data-animate-effect="fadeIn">
                            <span class="icon">
                                <i class="ti-agenda"></i>
                            </span>
                            <h3>
                                MATH 112
                            </h3>
                            <p>3.0 COLLEGE ALGEBRA</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="feature-center animate-box" data-animate-effect="fadeIn">
                            <span class="icon">
                                <i class="ti-agenda"></i>
                            </span>
                            <h3>
                                IT 133/L
                            </h3>
                            <p>3.0 BASIC ECLECTRONICS & DIGITAL DESIGN<</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="feature-center animate-box" data-animate-effect="fadeIn">
                            <span class="icon">
                                <i class="ti-agenda"></i>
                            </span>
                            <h3>
                                FIL 1A
                            </h3>
                            <p>3.0 SINING NG PAGKAKAISA</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="feature-center animate-box" data-animate-effect="fadeIn">
                            <span class="icon">
                                <i class="ti-agenda"></i>
                            </span>
                            <h3>
                                ENG 102
                            </h3>
                            <p>6.0 INTERACTIVE LEARNING</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="feature-center animate-box" data-animate-effect="fadeIn">
                            <span class="icon">
                                <i class="ti-agenda"></i>
                            </span>
                            <h3>
                                >MATH 133
                            </h3>
                            <p>3.0 TRIGONOMETRY WITH ANALYTICAL GEOMETRY</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="feature-center animate-box" data-animate-effect="fadeIn">
                            <span class="icon">
                                <i class="ti-agenda"></i>
                            </span>
                            <h3>
                                ENG 101
                            </h3>
                            <p>6.0 Grammar</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="feature-center animate-box" data-animate-effect="fadeIn">
                            <span class="icon">
                                <i class="ti-agenda"></i>
                            </span>
                            <h3>HIST 1</h3>
                            <p>3.0 PHILIPPINE HISTORY: ROOTS & DEVELOPMENT</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="feature-center animate-box" data-animate-effect="fadeIn">
                            <span class="icon">
                                <i class="ti-agenda"></i>
                            </span>
                            <h3>MATH 501</h3>
                            <p>3.0 MATHEMATICAL OPERATIONS</p>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <footer id="gtco-footer" role="contentinfo" style="background-image: url(images/img_bg_1.jpg)" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="gtco-container">
                <div class="row row-pb-md">


                    <div class="col-md-12 text-center">
                        <div class="gtco-widget">
                            <h3>Get In Touch</h3>
                            <ul class="gtco-quick-contact">
                                <li><a href="#"><i class="icon-phone"></i> +1 234 567 890</a></li>
                                <li><a href="#"><i class="icon-mail2"></i> info@GetTemplates.co</a></li>
                                <li><a href="#"><i class="icon-chat"></i> Live Chat</a></li>
                            </ul>
                        </div>
                        <div class="gtco-widget">
                            <h3>Get Social</h3>
                            <ul class="gtco-social-icons">
                                <li><a href="#"><i class="icon-twitter"></i></a></li>
                                <li><a href="#"><i class="icon-facebook"></i></a></li>
                                <li><a href="#"><i class="icon-linkedin"></i></a></li>
                                <li><a href="#"><i class="icon-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 text-center copyright">
                        <p>
                            <small class="block">&copy; 2016 Free HTML5. All Rights Reserved.</small>
                            <small class="block">Designed by <a href="http://gettemplates.co/" target="_blank">GetTemplates.co</a> Demo Images: <a href="http://unsplash.com/" target="_blank">Unsplash</a></small>
                        </p>
                    </div>
                </div>

            </div>
        </footer>
        <!-- </div> -->
    </div>
    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
    </div>

    <!-- jQuery -->
    <script src="~/Content/savory/js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="~/Content/savory/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="~/Content/savory/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="~/Content/savory/js/jquery.waypoints.min.js"></script>
    <!-- Carousel -->
    <script src="~/Content/savory/js/owl.carousel.min.js"></script>
    <!-- countTo -->
    <script src="~/Content/savory/js/jquery.countTo.js"></script>
    <!-- Stellar Parallax -->
    <script src="~/Content/savory/js/jquery.stellar.min.js"></script>
    <!-- Magnific Popup -->
    <script src="~/Content/savory/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/savory/js/magnific-popup-options.js"></script>

    <script src="~/Content/savory/js/moment.min.js"></script>
    <script src="~/Content/savory/js/bootstrap-datetimepicker.min.js"></script>

    <!-- Main -->
    <script src="~/Content/savory/js/main.js"></script>
</body>
</html>



@*<!DOCTYPE html>
    <html>
    <head>
        <title>Curriculum</title>
        <link href="~/Content/css/style.css" rel="stylesheet" />
    </head>
    <body>
        <ul>
            <li style="float:right"><a class="active" href="../">Home</a></li>
            <li style="float:right"><a href="../Student/Students">Student Info</a></li>
            <li style="float:right"><a href="../Home/Curriculum.php">Curriculum</a></li>
        </ul>

        <div class="pimg2">
            <div class="ptext">
                <span class="border">
                    Curriculum
                </span>
            </div>
        </div>

        <section class="section section-light">
            <center> <h2>1st Year Semester</h2></center>
            <p>

                <center><font>First Semester</font></center>
                <br><br>
                <LABEL>GRAMMAR...................... 6.0 ENG 101</LABEL>
                <br>
                <LABEL>HIST 1....................... 3.0 PHILIPPINE HISTORY: ROOTS & DEVELOPMENT</LABEL>
                <br>
                <LABEL>MATH 501 ...................... 3.0 MATHEMATICAL OPERATIONS</LABEL>
                <br>
                <label>PHILO 1A......................... 3.0 SOCIAL PHILO: VALUES FORMATION</label>
                <br>
                <label>CS 111/L ......................... 3.0 FUNDEMENTAL OF COMPUTER & INFO CONCEPTS</label>
                <br>
                <label>IT 111/L ......................... 3.0 OFFICE APPLICATIONS</label>
                <br>
                <label>PE 1   ......................... 3.0 SELF-TESTING ACTIVITIES</label>
                <br>
                <BR>
                <center><font>Second Semester</font></center>
                <br><br>
                <label>CS 120/L......................... 6.0 LOGIC FORMULATION & INTRO TO PROGRAMMING</label>
                <br>
                <label>MATH 133 ......................... 3.0 TRIGONOMETRY WITH ANALYTICAL GEOMETRY</label>
                <br>
                <label>ENG 102 ......................... 6.0 INTERACTIVE LEARNING</label>
                <br>
                <label>FIL 1A.........................  3.0 SINING NG PAGKAKAISA</label>
                <br>
                <label>IT 133/L......................... 3.0 BASIC ECLECTRONICS & DIGITAL DESIGN</label>
                <br>
                <label>MATH 112......................... 3.0 COLLEGE ALGEBRA</label>
                <br>
                <label>PE 2......................... 3.0 FUNDEMENTALS OF RHYTM ACTIVITIES</label>
                <br>
                <label>NSTP 2 ......................... 3.0 NATIONAL SERVICE TRAINING PROGRAM 2</label>

            </p>
        </section>
        <div class="pimg1">
            <div class="ptext">
                <span class="border">
                    Curriculum
                </span>
            </div>
        </div>

        <section class="section section-light">
            <center> <h2>2nd Year Semester</h2></center>
            <p>

                <center><font>First Semester</font></center>
                <br><br>
                <LABEL>GRAMMAR...................... 6.0 ENG 101</LABEL>
                <br>
                <LABEL>HIST 1....................... 3.0 PHILIPPINE HISTORY: ROOTS & DEVELOPMENT</LABEL>
                <br>
                <LABEL>MATH 501 ...................... 3.0 MATHEMATICAL OPERATIONS</LABEL>
                <br>
                <label>PHILO 1A......................... 3.0 SOCIAL PHILO: VALUES FORMATION</label>
                <br>
                <label>CS 111/L ......................... 3.0 FUNDEMENTAL OF COMPUTER & INFO CONCEPTS</label>
                <br>
                <label>IT 111/L ......................... 3.0 OFFICE APPLICATIONS</label>
                <br>
                <label>PE 1   ......................... 3.0 SELF-TESTING ACTIVITIES</label>
                <br>
                <BR>
                <center><font>Second Semester</font></center>
                <br><br>
                <label>CS 120/L......................... 6.0 LOGIC FORMULATION & INTRO TO PROGRAMMING</label>
                <br>
                <label>MATH 133 ......................... 3.0 TRIGONOMETRY WITH ANALYTICAL GEOMETRY</label>
                <br>
                <label>ENG 102 ......................... 6.0 INTERACTIVE LEARNING</label>
                <br>
                <label>FIL 1A.........................  3.0 SINING NG PAGKAKAISA</label>
                <br>
                <label>IT 133/L......................... 3.0 BASIC ECLECTRONICS & DIGITAL DESIGN</label>
                <br>
                <label>MATH 112......................... 3.0 COLLEGE ALGEBRA</label>
                <br>
                <label>PE 2......................... 3.0 FUNDEMENTALS OF RHYTM ACTIVITIES</label>
                <br>
                <label>NSTP 2 ......................... 3.0 NATIONAL SERVICE TRAINING PROGRAM 2</label>

            </p>
        </section>
        <div class="pimg3">
            <div class="ptext">
                <span class="border">
                    Curriculum
                </span>
            </div>
        </div>

        <section class="section section-light">
            <center> <h2>3rd Year Semester</h2></center>
            <p>

                <center><font>First Semester</font></center>
                <br><br>
                <LABEL>GRAMMAR...................... 6.0 ENG 101</LABEL>
                <br>
                <LABEL>HIST 1....................... 3.0 PHILIPPINE HISTORY: ROOTS & DEVELOPMENT</LABEL>
                <br>
                <LABEL>MATH 501 ...................... 3.0 MATHEMATICAL OPERATIONS</LABEL>
                <br>
                <label>PHILO 1A......................... 3.0 SOCIAL PHILO: VALUES FORMATION</label>
                <br>
                <label>CS 111/L ......................... 3.0 FUNDEMENTAL OF COMPUTER & INFO CONCEPTS</label>
                <br>
                <label>IT 111/L ......................... 3.0 OFFICE APPLICATIONS</label>
                <br>
                <label>PE 1   ......................... 3.0 SELF-TESTING ACTIVITIES</label>
                <br>
                <BR>
                <center><font>Second Semester</font></center>
                <br><br>
                <label>CS 120/L......................... 6.0 LOGIC FORMULATION & INTRO TO PROGRAMMING</label>
                <br>
                <label>MATH 133 ......................... 3.0 TRIGONOMETRY WITH ANALYTICAL GEOMETRY</label>
                <br>
                <label>ENG 102 ......................... 6.0 INTERACTIVE LEARNING</label>
                <br>
                <label>FIL 1A.........................  3.0 SINING NG PAGKAKAISA</label>
                <br>
                <label>IT 133/L......................... 3.0 BASIC ECLECTRONICS & DIGITAL DESIGN</label>
                <br>
                <label>MATH 112......................... 3.0 COLLEGE ALGEBRA</label>
                <br>
                <label>PE 3......................... 3.0 FUNDEMENTALS OF RHYTM ACTIVITIES</label>
                <br>
                <label>NSTP 2 ......................... 3.0 NATIONAL SERVICE TRAINING PROGRAM 2</label>

            </p>
        </section>

        <div class="pimg3">
            <div class="ptext">
                <span class="border">
                    Curriculum
                </span>
            </div>
        </div>

        <section class="section section-light">
            <center> <h2>4th Year Semester</h2></center>
            <p>

                <center><font>First Semester</font></center>
                <br><br>
                <LABEL>GRAMMAR...................... 6.0 ENG 101</LABEL>
                <br>
                <LABEL>HIST 1....................... 3.0 PHILIPPINE HISTORY: ROOTS & DEVELOPMENT</LABEL>
                <br>
                <LABEL>MATH 501 ...................... 3.0 MATHEMATICAL OPERATIONS</LABEL>
                <br>
                <label>PHILO 1A......................... 3.0 SOCIAL PHILO: VALUES FORMATION</label>
                <br>
                <label>CS 111/L ......................... 3.0 FUNDEMENTAL OF COMPUTER & INFO CONCEPTS</label>
                <br>
                <label>IT 111/L ......................... 3.0 OFFICE APPLICATIONS</label>
                <br>
                <label>PE 1   ......................... 3.0 SELF-TESTING ACTIVITIES</label>
                <br>
                <BR>
                <center><font>Second Semester</font></center>
                <br><br>
                <label>CS 120/L......................... 6.0 LOGIC FORMULATION & INTRO TO PROGRAMMING</label>
                <br>
                <label>MATH 133 ......................... 3.0 TRIGONOMETRY WITH ANALYTICAL GEOMETRY</label>
                <br>
                <label>ENG 102 ......................... 6.0 INTERACTIVE LEARNING</label>
                <br>
                <label>FIL 1A.........................  3.0 SINING NG PAGKAKAISA</label>
                <br>
                <label>IT 133/L......................... 3.0 BASIC ECLECTRONICS & DIGITAL DESIGN</label>
                <br>
                <label>MATH 112......................... 3.0 COLLEGE ALGEBRA</label>
                <br>
                <label>PE 3......................... 3.0 FUNDEMENTALS OF RHYTM ACTIVITIES</label>
                <br>
                <label>NSTP 2 ......................... 3.0 NATIONAL SERVICE TRAINING PROGRAM 2</label>

            </p>
        </section>

    </body>
    </html>*@