
<!DOCTYPE HTML>
<!--
    Aesthetic by gettemplates.co
    Twitter: http://twitter.com/gettemplateco
    URL: http://gettemplates.co
-->
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>UM TAGUM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Website Template by GetTemplates.co" />
    <meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
    <meta name="author" content="GetTemplates.co" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="~/Content/savory/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="~/Content/savory/css/icomoon.css">
    <!-- Themify Icons-->
    <link rel="stylesheet" href="~/Content/savory/css/themify-icons.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="~/Content/savory/css/bootstrap.css">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/Content/savory/css/magnific-popup.css">

    <!-- Bootstrap DateTimePicker -->
    <link rel="stylesheet" href="~/Content/savory/css/bootstrap-datetimepicker.min.css">

    <!-- Owl Carousel  -->
    <link rel="stylesheet" href="~/Content/savory/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/savory/css/owl.theme.default.min.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="~/Content/savory/css/style.css">

    <!-- Modernizr JS -->
    <script src="~/Content/savory/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <div class="gtco-loader"></div>

    <div id="page">


        <!-- <div class="page-inner"> -->
        <nav class="gtco-nav" role="navigation">
            <div class="gtco-container">

                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <div id="gtco-logo"><a href="index.html">UM <em>.</em></a></div>
                    </div>
                    <div class="col-xs-8 text-right menu-1">
                        <ul>
                            <li><a href="../">Home</a></li>
                            <li class="has-dropdown">
                                <a href="../Home/Curriculum">Curriculum</a>
                            </li>
                            <li><a href="../Student/Students">Student</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </nav>

        <header id="gtco-header" class="gtco-cover gtco-cover-md" role="banner" style="background-image: url('../../Content/img/4.jpg');" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="gtco-container">
                <div class="row">
                    <div class="col-md-12 col-md-offset-0 text-left">
                        <div class="row row-mt-15em">
                            <div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
                                <span class="intro-text-small">Hand-crafted by <a href="http://gettemplates.co" target="_blank">GetTemplates.co</a></span>
                                <h1 class="cursive-font">UM TAGUM COLLEGE</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>



        <div class="gtco-section">
            <div class="gtco-container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                        <h2 class="cursive-font primary-color">Welcome to University Of Mindanao IT Website</h2>
                        <p>University of Mindanao IT Department Introduction.</p>
                    </div>
                </div>
                <div class="row" style="margin-top: -50px;">
                    <div class="col-md-12" style="display: flex; justify-content: center; align-items: center;">
                        <video controls>
                            <source src="~/Content/imErchil.mp4" type="video/mp4" />
                            Your browser does not support HTML5 video.
                        </video>
                    </div>
                </div>
            </div>
        </div>

        <footer id="gtco-footer" role="contentinfo" style="background-image: url(images/img_bg_1.jpg)" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="gtco-container">
                <div class="row row-pb-md">




                    <div class="col-md-12 text-center">
                        <div class="gtco-widget">
                            <h3>Get In Touch</h3>
                            <ul class="gtco-quick-contact">
                                <li><a href="#"><i class="icon-phone"></i> +1 234 567 890</a></li>
                                <li><a href="#"><i class="icon-mail2"></i> info@GetTemplates.co</a></li>
                                <li><a href="#"><i class="icon-chat"></i> Live Chat</a></li>
                            </ul>
                        </div>
                        <div class="gtco-widget">
                            <h3>Get Social</h3>
                            <ul class="gtco-social-icons">
                                <li><a href="#"><i class="icon-twitter"></i></a></li>
                                <li><a href="#"><i class="icon-facebook"></i></a></li>
                                <li><a href="#"><i class="icon-linkedin"></i></a></li>
                                <li><a href="#"><i class="icon-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-12 text-center copyright">
                        <p>
                            <small class="block">&copy; 2016 Free HTML5. All Rights Reserved.</small>
                            <small class="block">Designed by <a href="http://gettemplates.co/" target="_blank">GetTemplates.co</a> Demo Images: <a href="http://unsplash.com/" target="_blank">Unsplash</a></small>
                        </p>
                    </div>

                </div>



            </div>
        </footer>
        <!-- </div> -->

    </div>

    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
    </div>

    <!-- jQuery -->
    <script src="~/Content/savory/js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="~/Content/savory/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="~/Content/savory/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="~/Content/savory/js/jquery.waypoints.min.js"></script>
    <!-- Carousel -->
    <script src="~/Content/savory/js/owl.carousel.min.js"></script>
    <!-- countTo -->
    <script src="~/Content/savory/js/jquery.countTo.js"></script>

    <!-- Stellar Parallax -->
    <script src="~/Content/savory/js/jquery.stellar.min.js"></script>

    <!-- Magnific Popup -->
    <script src="~/Content/savory/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/savory/js/magnific-popup-options.js"></script>

    <script src="~/Content/savory/js/moment.min.js"></script>
    <script src="~/Content/savory/js/bootstrap-datetimepicker.min.js"></script>


    <!-- Main -->
    <script src="~/Content/savory/js/main.js"></script>

</body>
</html>




@*<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>IT Department</title>
        <link href="~/Content/css/style.css" rel="stylesheet" />
    </head>

    <body>

        <ul>
            <li style="float:right"><a class="active" href="../">Home</a></li>
            <li style="float:right"><a href="../Student/Students">Student Info</a></li>
            <li style="float:right"><a href="../Home/Curriculum.php">Curriculum</a></li>
        </ul>


        <div class="pimg1">
            <div class="ptext">
                <span class="border">
                    IT Department
                </span>
            </div>
        </div>

        <section class="section section-light">
            <h2>ABOUT</h2>
            <p>
                IT Department of UM Tagum College School Website.
            </p>
        </section>

        <div id="soknow"
             class="pimg2">
            <div class="ptext1">
                <span class="border trans">
                    Student Information
                </span>
            </div>
        </div>

        <section class="section section-dark">
            <h2>Student Input Form</h2>
            <p>

            </p>
        </section>

        <div id="Curriculum" class="pimg3">
            <div class="ptext1">
                <span class="border trans">
                    Curriculum
                </span>
            </div>
        </div>

        <section class="section section-dark">
            <h2>Subject Curriculum</h2>
            <p>
                I Always Doing in House when i go home from UM first is look for new UPDATE of DOUJIN/DOUJINSHI and also mark them favorite then read it later DOUJIN is an ART of DRAWING that also consists of Anime characters.What is Doujin Anyway if you that DOUJIN is?Dōjinshi (同人誌, often transliterated doujinshi) is the Japanese term for self-published works, usually magazines, manga or novels. Dōjinshi are often the work of amateurs, though some professional artists participate as a way to publish material outside the regular industry. Dōjinshi are part of a wider category of dōjin including art collections, anime and games. Groups of dōjinshi artists refer to themselves as a sākuru (サークル, circle). A number of such groups actually consist of a single artist: they are sometimes called kojin sākuru (個人サークル, personal circles).

                Since the 1980s, the main method of distribution has been through regular dōjinshi conventions, the largest of which is called Comiket (short for "Comic Market") held in the summer and winter in Tokyo's Big Sight. At the convention, over 20 acres (81,000 m2) of dōjinshi are bought, sold, and traded by attendees. Dōjinshi creators who base their materials on other creators' works normally publish in small numbers to maintain a low profile so as to protect themselves against litigation. This makes a talented creator's or circle's dōjinshi a coveted commodity as only the fast or the lucky will be able to get them before they sell out.

                Now you Know DOUJIN i hope u like it Also. :)

            </p>
        </section>

        <div class="pimg1">
            <div class="ptext">
                <span class="border">
                    Thats All
                </span>
            </div>
        </div>


        <section class="section section-dark">
            <h2>Comment About Me: </h2>



            <form action="" method="post">

                <label>Name : <br><input type="text" name="name" size="36"><br><br></label>
                <label>
                    Message :
                    <br><textarea cols="35" rows="5" name="mes"></textarea>
                </label><br>
                <input type="submit" name="post" value="Post">

            </form>




        </section>


    </body>
    </html>*@